<!-- advertisement -->

<!-- <section class="section advertisement">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">advertisement</h2>
    <p class="advertisement-text">Discount up to 40%!</p>
    <p class="advertisement-text-color">
      Taste the vitamins and keep your health
    </p>
  </div>
</section> -->

<!-- /advertisement -->

<section class="advertisement section">
  <div class="container advertisement-container">
    <h2 class="visually-hidden">advertisement</h2>
    <p class="advertisement-text">
      Discount up to 40%!
      <span class="advertisement-text-color">
        Taste the vitamins and keep your health
      </span>
    </p>
  </div>
</section>
