<footer>
  <div class="container">
    <div class="footer-content">
      <div class="logo-footer">
        <svg class="logo-icon" width="168" height="16">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
        <p class="logo-footer-text">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="center-block">
        <div class="menu-footer">
          <ul class="menu-list">
            <li class="menu-item-footer">
              <a class="how-it-works-footer" href="">how it works</a>
            </li>
            <li class="menu-item-footer">
              <a class="vege-footer" href="">vegetables</a>
            </li>
            <li class="menu-item-footer">
              <a class="reviews-footer" href="">reviews</a>
            </li>
          </ul>
        </div>

        <div class="contacts-footer">
          <ul class="contacts-list">
            <li class="contacts-footer-item">
              <a class="phone" href="tel:+380684439426"></a>+380 (68) 443-94-26
            </li>
            <li class="contacts-footer-item">
              <p>1678 S. Pioneer Road Salt Lake City UT 84104</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="privacy-policy">
      <ul class="privacy-policy-list">
        <li class="privacy-policy-item">
          <a class="privacy-link" href="">Privacy policy</a>
        </li>
        <li class="privacy-policy-item"><p class="palka">/</p></li>
        <li class="privacy-policy-item">
          <a class="cookie-link" href="">Cookie settings</a>
        </li>
      </ul>
      <p class="anno">©Green Harvest 2023</p>
    </div>
  </div>
</footer>

<section></section>
