<header class="section section-header">
  <div class="container container-header">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        ><svg class="header-logo-icon" width="168" height="16">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#howitworks">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#vegetables">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn-icon" type="button" data-modal-open="modal1">
      <svg class="header-icon-menu" width="32" height="32">
        <use href="/img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
    <button class="header-btn" type="button" data-modal-open="modal2">Shop now</button>
  </div>
</header>
