<header class="section section-header">
  <div class="container container-header">
    <nav class="header-nav">
      <a class="logo-header" href=""
        ><svg class="header-logo-icon" width="168" height="16">
          <use href="../img/sprite.svg#icon-logo"></use></svg
      ></a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Vegetables</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="">Reviews</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn" type="button">
      <span class="header-btn-text">Shop now</span>
      <svg class="header-icon-menu" width="32" height="32">
        <use href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
