<div class="backdrop" id="modal1" data-modal class="modal">
  <div class="container-menu-modal" id="mobileMenu">
    <button class="close-btn-menu-modal" type="button">
      <svg class="svg-icon-menu-modal" width="32" height="32">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <nav class="navigation-menu-modal">
      <ul class="list-menu-modal">
        <li class="item-menu-modal">
          <a class="link-menu-modal" href="#howitworks">How It Works</a>
        </li>
        <li class="item-menu-modal">
          <a class="link-menu-modal" href="#vegetables">Vegetables</a>
        </li>
        <li class="item-menu-modal">
          <a class="link-menu-modal" href="#reviews">Reviews</a>
        </li>
      </ul>
    </nav>
    <div>
      <button
        class="show-btn-modal-menu"
        type="button"
        data-modal-open="modal2"
      >
        SHOP NOW
      </button>
    </div>
  </div>
</div>

<div class="backdrop backdrop-modal2" id="modal2" data-modal class="modal">
  <div class="container-menu-modal container-modal2">
    <button class="close-btn-menu-modal" type="button">
      <svg class="svg-icon-menu-modal" width="32" height="32">
        <use href="/img/sprite.svg#icon-x"></use>
      </svg>
    </button>
    <div class="menu-modal-content-wrapper">
      <div class="menu-modal-content">
        <p class="menu-modal-content-slogan">This is a great idea</p>
        <p class="menu-modal-content-text">
          Our online store is
          <span class="menu-modal-content-accent">opening soon</span>, and you
          will be able to purchase our products.
        </p>
      </div>
      <form class="menu-modal-form">
        <label class="menu-modal-form-label" for="email">
          You can leave your email, and we will inform you about the opening.
        </label>
        <input
          class="menu-modal-form-email-input order-form-valid"
          type="email"
          id="email"
          name="user-email"
          placeholder="Email"
          pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
          required
        />

        <button class="menu-modal-email-send-btn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
