<div class="backdrop" data-modal>
<div class="container-menu-modal">
    <button class="close-btn-menu-modal" type="button" data-modal-close>
        <svg class="svg-icon-menu-modal" width="32" height="32">
            <use href="/img/sprite.svg#icon-x"></use>
        </svg>
    </button>
<div class="">
    <nav class="navigation-menu-modal">
        <ul class="list-menu-modal">
            <li class="item-menu-modal"><a class="link-menu-modal" href="">How It Works</a></li>
            <li class="item-menu-modal"><a class="link-menu-modal" href="">Vegetables</a></li>
            <li class="item-menu-modal"><a class="link-menu-modal" href="">Reviews</a></li>
        </ul>
    </nav>
</div>

    <div class="">
        <button class="show-btn-modal-menu">SHOP NOW</button>
    </div>
</div>
</div>
<script src="/js/script.js"></script>
