<div class="backdrop" data-modal data-modal-close>
<div class="container-menu-modal" id="mobileMenu">
    <button class="close-btn-menu-modal" type="button" data-modal-close>
        <svg class="svg-icon-menu-modal" width="32" height="32">
            <use href="/img/sprite.svg#icon-x"></use>
        </svg>
    </button>
<div class="">
    <nav class="navigation-menu-modal">
        <ul class="list-menu-modal">
            <li class="item-menu-modal" data-modal-close><a class="link-menu-modal" href="#howitworks">How It Works</a></li>
            <li class="item-menu-modal" data-modal-close><a class="link-menu-modal" href="#vegetables">Vegetables</a></li>
            <li class="item-menu-modal" data-modal-close><a class="link-menu-modal" href="#reviews">Reviews</a></li>
        </ul>
    </nav>
</div>

    <div>
        <button class="show-btn-modal-menu" type="submit">SHOP NOW</button>
    </div>
</div>
</div>

