<!-- Section Reviews Mobile Menu  -->
<section class="reviews-section-mobile section" id="reviews">
  <div class="container">
    <h2 class="reviews-title-mobile">
      REVIEWS FROM OUR
      <span class="reviews-accent-color">CUSTOMERS</span>
    </h2>
    <p class="reviews-text-mobile">
      Words of our customers: impressions and opinions about the quality of our
      services and the freshness of our products.
    </p>
    <div class="reviews-list-container">
      <ul class="reviews-list-mobile">
        <li class="reviews-list-item-mobile">
          <img
            class="reviews-list-avatar-mobile"
            srcset="
              /img/reviews/reviews-john-wax@1x.png 1x,
              /img/reviews/reviews-john-wax@2x.png 2x
            "
            width="56"
            src="/img/reviews/reviews-john-wax@1x.png"
            alt="John Wax"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-fullname-mobile">John Wax</h3>
          <p class="reviews-list-text-mobile">
            These vegetables are my secret to delicious and healthy meals. The
            quality is always at the highest level, the aroma and taste are
            enchanting. I advise every fan of real products!
          </p>
        </li>
        <li class="reviews-list-item-mobile">
          <img
            class="reviews-list-avatar-mobile"
            srcset="
              /img/reviews/reviews-victoria-romashenko@1x.png 1x,
              /img/reviews/reviews-victoria-romashenko@2x.png 2x
            "
            width="56"
            src="/img/reviews/reviews-victoria-romashenko@1x.png"
            alt="Victoria Romashenko"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-fullname-mobile">Victoria Romashenko</h3>
          <p class="reviews-list-text-mobile">
            I love how fast and fresh the vegetables are delivered. Salads
            always turn out so appetizing, and soups are real masterpieces. The
            quality is impeccable!
          </p>
        </li>
        <li class="reviews-list-item-mobile">
          <img
            class="reviews-list-avatar-mobile"
            srcset="
              /img/reviews/reviews-ihor-trachuk@1x.png 1x,
              /img/reviews/reviews-ihor-trachuk@2x.png 2x
            "
            width="56"
            src="/img/reviews/reviews-ihor-trachuk@1x.png"
            alt="Ihor Trachuk"
            width="56"
            height="56"
          />
          <h3 class="reviews-list-fullname-mobile">Ihor Trachuk</h3>
          <p class="reviews-list-text-mobile">
            Recently tried my fresh tomatoes and peppers - amazing! The
            authenticity of the taste, as if from the garden directly to my
            table. It is now my main vegetable supplier.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
