<section class="veggies-section section" id="vegetables">
  <div class="veggies-section-container container">
    <div class="veggies-section-content-wrapper">
      <h2 class="veggies-section-title">
        organic <br /><span class="veggies-span-accent">vegetables</span>
      </h2>
      <p class="veggies-section-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="veggies-section-list">
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">eggplant</h3>
        <p class="veggies-section-card-text">60 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/eggplant@1x.png x1, /img/vegetables/eggplant@2x.png 2x"
          src="/img/vegetables/eggplant@1x.png"
          alt="eggplant image"
          loading="lazy"
          width="282"
        />
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">leek</h3>
        <p class="veggies-section-card-text">50 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/leek@1x.png x1, /img/vegetables/leek@2x.png 2x"
          src="/img/vegetables/leek@1x.png"
          alt="leek image"
          loading="lazy"
          width="282"
        />
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">mushrooms</h3>
        <p class="veggies-section-card-text">40 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/mushrooms@1x.png x1, /img/vegetables/mushrooms@2x.png 2x"
          src="/img/vegetables/mushrooms@1x.png"
          alt="mushrooms image"
          loading="lazy"
          width="282"
        />
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">corn</h3>
        <p class="veggies-section-card-text">60 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/corn@1x.png x1, /img/vegetables/corn@2x.png 2x"
          src="/img/vegetables/corn@1x.png"
          alt="corn image"
          loading="lazy"
          width="282"
        />
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">sweet potatoes</h3>
        <p class="veggies-section-card-text">50 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/sweet-potatoes@1x.png x1, /img/vegetables/sweet-potatoes@2x.png.png 2x"
          src="/img/vegetables/sweet-potatoes@1x.png"
          alt="sweet-potatoes image"
          loading="lazy"
          width="282"
        />
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">carrot</h3>
        <p class="veggies-section-card-text">40 USD / kg</p>
        <img
          class="veggies-section-card-image"
          srcset="/img/vegetables/carrot@1x.png x1, /img/vegetables/carrot@2x.png 2x"
          src="/img/vegetables/carrot@1x.png"
          alt="carrot image"
          loading="lazy"
          width="282"
        />
      </li>
    </ul>
  </div>
</section>
