<section class="veggies-section section" id="vegetables">
  <div class="veggies-section-container container">
    <div class="veggies-section-content-wrapper">
      <h2 class="veggies-section-title">
        organic <br /><span class="veggies-span-accent">vegetables</span>
      </h2>
      <p class="veggies-section-text">
        Our organic vegetables are hand-picked from local farms and delivered
        straight to your doorstep, ensuring that you get the freshest and most
        nutritious produce possible.
      </p>
    </div>
    <ul class="veggies-section-list">
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">eggplant</h3>
            <p class="veggies-section-card-text">60 USD / kg</p>
            <img srcset="/img/Vegetables/eggplant@1x.png 1x, /img/Vegetables/eggplant@2x.png 2x"
              src="/img/Vegetables/eggplant@1x.png" alt="eggplant image" loading="lazy" width="282" />
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Eggplant</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 25 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> Rich in vitamin B1, B6, and
                antioxidants.
              </li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Supports heart health and helps in
                weight
                management.
              </li>
            </ul>
          </div>
        </li>
      </div>
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">leek</h3>
            <p class="veggies-section-card-text">50 USD / kg</p>
            <img srcset="/img/Vegetables/leek@1x.png 1x, /img/Vegetables/leek@2x.png 2x"
              src="/img/Vegetables/leek@1x.png" alt="leek image" loading="lazy" width="282">
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Leek</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 61 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> High in vitamin K, A, and C.</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Aids digestion and has
                anti-inflammatory
                properties.
              </li>
            </ul>
          </div>
        </li>
      </div>
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">mushrooms</h3>
            <p class="veggies-section-card-text">40 USD / kg</p>
            <img srcset="/img/Vegetables/mushrooms@1x.png 1x, /img/Vegetables/mushrooms@2x.png 2x"
              src="/img/Vegetables/mushrooms@1x.png" alt="mushrooms image" loading="lazy" width="282" />
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Mushrooms</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 22 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> Good source of B vitamins and vitamin
                D.
              </li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Boosts immune system and promotes
                healthy
                bones.
              </li>
            </ul>
          </div>
        </li>
      </div>
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">corn</h3>
            <p class="veggies-section-card-text">60 USD / kg</p>
            <img srcset="/img/Vegetables/corn@1x.png 1x, /img/Vegetables/corn@2x.png 2x"
              src="/img/Vegetables/corn@1x.png" alt="corn image" loading="lazy" width="282" />
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Corn</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 86 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> Contains vitamin B5, C, and folate.
              </li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Supports eye health and provides
                energy.
              </li>
            </ul>
          </div>
        </li>
      </div>
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">sweet potatoes</h3>
            <p class="veggies-section-card-text">50 USD / kg</p>
            <img srcset="/img/Vegetables/sweet-potatoes@1x.png 1x, /img/Vegetables/sweet-potatoes@2x.png.png 2x"
              src="/img/Vegetables/sweet-potatoes@1x.png" alt="sweet-potatoes image" loading="lazy" width="282" />
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Sweet potatoes</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 86 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> High in vitamin A, C, and fiber.</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Promotes healthy skin and improves
                digestion.
              </li>
            </ul>
          </div>
        </li>
      </div>
      <div class="flip-card">
        <li class="veggies-section-list-item flip-card-inner">
          <div class="veggies-section-card flip-card-front">
            <h3 class="veggies-section-card-title">carrot</h3>
            <p class="veggies-section-card-text">40 USD / kg</p>
            <img srcset="/img/Vegetables/carrot@1x.png 1x, /img/Vegetables/carrot@2x.png 2x"
              src="/img/Vegetables/carrot@1x.png" alt="carrot image" loading="lazy" width="282" />
          </div>
          <div class="veggies-section-card flip-card-back">
            <h3 class="veggies-section-card-title">Carrot</h3>
            <ul class="veggies-section-card-list">
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Calories:</span> 41 kcal per 100g</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Vitamins:</span> Rich in vitamin A, K, and biotin.</li>
              <li class="veggies-section-card-list-item"><span
                  class="veggies-section-card-list-item-accent">Benefits:</span> Supports vision and boosts immune
                function.</li>
            </ul>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>