<section class="veggies-section section" id="vegetables">
  <div class="veggies-section-container container">
    <div class="veggies-section-content-wrapper">
      <h2 class="veggies-section-title">
        organic <br /><span class="veggies-span-accent">vegetables</span>
      </h2>
      <p class="veggies-section-text">
        Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that
        you
        get
        the freshest and most nutritious produce possible.
      </p>
    </div>
    <ul class="veggies-section-list">
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">eggplant</h3>
        <p class="veggies-section-card-text">
          60 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/eggplant@1x.png x1,../img/Vegetables/eggplant@2x.png 2x"
          src="../img/Vegetables/eggplant@1x.png" alt="eggplant image" loading="lazy">
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">
          leek
        </h3>
        <p class="veggies-section-card-text">
          50 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/leek@1x.png x1,../img/Vegetables/leek@2x.png 2x" src="../img/Vegetables/leek@1x.png"
          alt="leek image" loading="lazy">
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">
          mushrooms
        </h3>
        <p class="veggies-section-card-text">
          40 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/mushrooms@1x.png x1,../img/Vegetables/mushrooms@2x.png 2x"
          src="../img/Vegetables/mushrooms@1x.png" alt="mushrooms image" loading="lazy">
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">
          corn
        </h3>
        <p class="veggies-section-card-text">
          60 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/corn@1x.png x1,../img/Vegetables/corn@2x.png 2x" src="../img/Vegetables/corn@1x.png"
          alt="corn image" loading="lazy">
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">
          sweet potatoes
        </h3>
        <p class="veggies-section-card-text">
          50 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/sweet-potatoes@1x.png x1,../img/Vegetables/sweet-potatoes@2x.png.png 2x"
          src="../img/Vegetables/sweet-potatoes@1x.png" alt="sweet-potatoes image" loading="lazy">
      </li>
      <li class="veggies-section-card">
        <h3 class="veggies-section-card-title">
          carrot
        </h3>
        <p class="veggies-section-card-text">
          40 USD / kg
        </p>
        <img class="veggies-section-card-image"
          srcset="../img/Vegetables/carrot@1x.png x1,../img/Vegetables/carrot@2x.png 2x"
          src="../img/Vegetables/carrot@1x.png" alt="carrot image" loading="lazy">
      </li>
    </ul>

  </div>
</section>