.advertisement {
    padding: 80px 10px;
    border: 1px solid #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fbfbfb;
    
}

.advertisement-container {
    width: 335px;
    height: 306px;
    padding: 0;
    
}

.advertisement-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    border-radius: 12px;
    width: 355px;
    height: 102px;
    background: #576f35;
    padding: 0 10px;
    
}

.advertisement-text-color {
    font-family: "Inter Tight", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 1.04;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #141414;
   
    
}

@media screen and (min-width: 768px){

    .advertisement{
    
    }

    .advertisement-container{
       
    }

    .advertisement-text{
        
    }

    .advertisement-text-color{

    }

}

@media screen and (min-width: 1158px){
.advertisement {}

.advertisement-container {}

.advertisement-text {}

.advertisement-text-color {}
}