/* Styles for Mobile devices */
.footer {
  padding: 40px 0;
  background-color: #7a3145;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.logo-footer-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.logo-footer-link {
  display: inline-block;
  margin-bottom: 14px;
}

.logo-footer {
  max-width: 295px;
}
.center-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.menu-link-footer {
  font-size: 28px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.015em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link-footer:hover,
.menu-link-footer:focus {
  color: rgba(251, 251, 251, 0.3);
}

.contacts-footer-item {
  max-width: 179px;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.015em;
}
.phone {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:hover,
.phone:focus {
  color: rgba(251, 251, 251, 0.3);
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.privacy-policy-link {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.015em;
}
.privacy-policy-link:hover,
.privacy-policy-link:focus {
  text-decoration: underline;
}
.privacy-policy-item:not(:last-child):after {
  content: '/';
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.015em;
  margin: 0 8px;
}
.privacy-policy {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.privacy-policy-list {
    display: flex;
}

.anno {
  color: rgba(251, 251, 251, 0.5);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.015em;

}

/*tablet-footer*/
@media only screen and (min-width: 768px) {
    .footer {
      padding: 32px 0;
    }

    .footer-content {
      flex-direction: row;
      justify-content: space-between;
      gap: 0;
      margin-bottom: 100px;
    }

    .logo-footer {
      max-width: 265px;
    }

    .logo-footer-link {
      margin-bottom: 25px;
    }

    .logo-icon {
      width: 194px;
      height: 18px;
    }

    .logo-footer-text {
      font-size: 16px;
      line-height: 1.25;
    }

    .center-block {
      gap: 64px;
    }

    .menu-list {
      gap: 25px;
    }

    .menu-link-footer {
      font-size: 32px;
    }

    .contacts-list {
      gap: 25px;
    }

    .contacts-footer-item {
      max-width: 215px;
      font-size: 18px;
      line-height: 1.11;
    }
    .privacy-policy-item:not(:last-child):after {
      font-size: 18px;
      line-height: 1.11;
    }

    .privacy-policy-link {
      font-size: 18px;
    line-height: 1.11;
    }

    .anno {
      font-size: 18px;
      line-height: 1.11;
    }

    /*desktop-footer*/

}

@media only screen and (min-width: 1280px) {
  .footer {
    padding: 50px 0;
  }

    .footer-content {
      margin-bottom: 125px;
    }

    .center-block {
      flex-direction: row;
      gap: 121px;
    }
}