.veggies-section {
  background-color: #7a3145;
}
.veggies-section-content-wrapper {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px;
}
.veggies-section-title {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.04;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
.veggies-span-accent {
  color: rgba(251, 251, 251, 0.3);
}
.veggies-section-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
.veggies-section-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}
.veggies-section-card {
  border-radius: 40px;
  padding: 32px 26px;
  background-color: #ffffff;
}
.veggies-section-card-title {
  margin-bottom: 12px;
  color: #7a3145;
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.01em;
}
.veggies-section-card-text {
  margin-bottom: 14px;
  color: #141414;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .veggies-section {
    margin: 0 auto;
  }
  .veggies-section-content-wrapper {
    max-width: 626px;
    margin-bottom: 50px;
    row-gap: 50px;
  }
  .veggies-section-title {
    font-size: 64px;
    line-height: 1;
    letter-spacing: -0.01em;
  }
  .veggies-section-text {
    font-size: 16px;
    line-height: 1.25;
  }
  .veggies-section-list {
    flex-direction: row;
    row-gap: 28px;
    column-gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .veggies-section-card-title {
    font-size: 32px;
    line-height: 1;
  }
  .veggies-section-card {
    max-width: calc((724px - 20px) / 2);
    padding: 32px 30px;
  }
  .veggies-section-card-text {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .veggies-section-content-wrapper {
    row-gap: 25px;
  }
  .veggies-section-list {
    column-gap: 21px;
  }
  .veggies-section-card {
    max-width: calc((1080px - 42px) / 3);
    padding: 32px 32px;
  }
}
